<h1><a href="/">Pushipedia</a></h1>
<h4>Wikipedia notifications</h4>
<div id="browser-error" class="error" style="display:none;">
	Your browser cannot handle the coolness just yet. This demo requires:<br>
	<a href="http://caniuse.com/#search=ServiceWorker">Service Worker</a>
	<a href="http://caniuse.com/#feat=notifications">Notifications</a>
</div>
