<!doctype html>
<html lang="en">
	<%- include partials/head %>
	<body>
		<div class="container">
			<%- include partials/header %>
			<%- include partials/features %>
			<div class='separator'>&amp;</div>
			<div class="feature">
				<div class="text">
					<h4>Trending edits [experimental].</h4>
					<p>We'll let you know as soon as a page starts recording an unusual amount of edits.</p>
					<button class="button-primary js-push-button"
						data-feature="most-edited" disabled>Enable Push Messages</button>
				</div>
				<div class="image">
					<img src="images/trending.png" />
				</div>
			</div>
			<%- include partials/footer %>
		</div>
		<script src="/scripts/main.js"></script>
	</body>
</html>
