<!doctype html>
<html lang="en">
	<%- include partials/head %>
	<body>
		<div class="container">
			<%- include partials/header %>
			<div class="feature">
				<div class="text">
					<h4>Vandals</h4>
					<p>We'll let you know as soon as we reckon a page may be being vandalised.</p>
					<button class="button-primary js-push-button" data-disable-preview="true"
						data-feature="most-vandalised" disabled>Enable Push Messages</button>
				</div>
				<div class="image">
					<img src="" />
				</div>
			</div>
			<div class='separator'>&amp;</div>
			<%- include partials/features %>
			<%- include partials/footer %>
		</div>
		<script src="/scripts/main.js"></script>
	</body>
</html>
