<!doctype html>
<html lang="en">
	<%- include partials/head %>
	<body>
		<div class="container">
			<%- include partials/header %>
			<%- include partials/features %>
			<%- include partials/footer %>
		</div>
		<script src="/scripts/main.js"></script>
	</body>
</html>
