<!doctype html>
<html lang="en">
	<%- include partials/head %>
	<body>
		<div class="container">
			<%- include partials/header %>
			<div class="text">
				<h4>Hourly random</h4>
				<p>Every 2 hours we'll give you something random to read from the more interesting content being edited today.</p>
				<button class="button-primary js-push-button"
					class="js-push-button" data-feature="hourly-hot" disabled>Enable Push Messages</button>
			</div>
			<%- include partials/features %>
			<%- include partials/footer %>
		</div>
		<script src="/scripts/main.js"></script>
	</body>
</html>
