<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Wikipedia notifications</title>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<link rel="stylesheet" href="stylesheets/skeleton.css">
		<link rel="stylesheet" href="stylesheets/main.css">
		<link rel="manifest" href="/manifest.json">
	</head>
	<body>
		<div class="container">
			<h1>Wikipedia</h1>
			<h4>notifications</h4>
			<div class="feature invert-order-mobile">
				<div class="image">
					<img src="images/featured.png" />
				</div>
				<div class="text">
					<h4>Today's featured article</h4>
					<p>Get notified daily of Wikipedia's featured article. Every day a high quality article manually curated for your reading pleasure.</p>
					<button class="button-primary js-push-button"
						class="js-push-button" data-feature="tfa" disabled>Enable Push Messages</button>
				</div>
			</div>
			<div class='separator'>&amp;</div>
			<div class="feature">
				<div class="text">
					<h4>Picture of the day</h4>
					<p>Receive the Common's picture of the day with a notification. Selected across all the featured pictures in Commons.</p>
					<button disabled>Not available. Work in progress...</button>
				</div>
				<div class="image">
					<img src="images/pictureoftheday.jpg" />
				</div>
			</div>
		</div>
		<div class="js-curl-command"></div>
		<script src="/scripts/main.js"></script>
	</body>
</html>
