<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Push Messaging &amp; Notifications</title>
		<link rel="manifest" href="/manifest.json">
	</head>
	<body>
	<h1>Pushipedia</h1>
		<ul>
			<li>
				<H2>Today's featured article</h2>
				<button class="js-push-button" disabled>Enable Push Messages</button>
			</li>
		</ul>
		<div class="js-curl-command"></div>
		<script src="/scripts/tfa.js"></script>
	</body>
</html>
